<EditForm Model="@TimeLimit" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Description:</label>
        <div>
            <InputText @bind-Value="@TimeLimit.Description" />
            <ValidationMessage For="@(() => TimeLimit!.Description)" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>Priority:</label>
            <div>
                @* TODO_PROJECT_IDEA improve enum support in blazor like this https://www.meziantou.net/creating-a-inputselect-component-for-enumerations-in-blazor.htm *@
                <InputSelect @bind-Value="@TimeLimit.Priority">
                @foreach (var val in Enum.GetValues(typeof(Priority)))
                {
                    <option>@val</option>
                }
                </InputSelect>
                <ValidationMessage For="@(() => TimeLimit!.Priority)"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>Hours</label>
            <div>
                <InputNumber @bind-Value="@TimeLimit.Hours"/>
                <ValidationMessage For="@(() => TimeLimit!.Hours)"/>
            </div>
        </div>
    </div>
@*    //ADD TimeSpan Here
*@@*    <div class="form-group">
        <div>
            <label>Experience :</label>
            <div>
                <InputNumber @bind-Value="@TimeLimit.Experience" />
                <ValidationMessage For="@(() => TimeLimit.Experience)" />
            </div>
        </div>
    </div>
*@    <button type="submit" class="btn btn-success mt-3">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public TimeLimit? TimeLimit { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
