@using TogglTimeWeb.Client.Pages.Dashboard.ProgressBar
@page "/dashboard"

<header>
</header>

Select Workspace
<InputSelect @bind-Value="@WorkSpaceID">
    <option value="0">All</option>
    @foreach (var val in Me.TogglWorkspaces)
    {
        <option value="@val.id">@val.name</option>
    }
</InputSelect>


<div class="row p-2 align-items-center">
    <div class="col-2">Time Elapsed (Week)</div>
    <div class="col-1">@ElapsedTime</div>
    <div class="col-5"><ProgressBar ProgressWidth="@this.ElapsedTimeWidthPercent" /></div>
</div>

<div class="row p-2 align-items-center">
    <div class="col-2">Time Remaining (Week)</div>
    <div class="col-1">@RemainingTime</div>
    <div class="col-5"><ProgressBar ProgressWidth="RemainingTimeWidthPercent"/></div>
</div>

<div class="row p-2 align-items-center">
    <div class="col-2">Time Logged (Week)</div>
    <div class="col-1">@TimeLogged</div>
    <div class="col-5"><ProgressBar ProgressWidth="TimeloggedWidthPercent"/></div>
</div>


@code {

}
